*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #363636;
}

.no-scroll {
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  height: 104px;
  padding-left: 34px;
  border-bottom: 1px solid #d4d4d4;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-logo::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 1px;
  margin-left: 34px;
  background-color: #d4d4d4;
}

.m-menu {
  height: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.search-input {
  margin-left: 34px;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center left;
  border: none;
  padding-left: 38px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
}

.search-input::placeholder,
.search-input::-moz-placeholder,
.search-input::-webkit-input-placeholder {
  color: #a5a5a5;
}

.navigation {
  margin-right: 44px;
  margin-left: auto;
}

.navigation-link {
  position: relative;
  margin-right: 18px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
}

.navigation-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.navigation-link:hover::after {
  transform: scaleX(1);
}

.button-group {
  display: flex;
  height: 100%;
}

.header .button {
  height: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  border: none;
  cursor: pointer;
  outline: none;
}

.header .button.sign-up {
  padding: 0 34px;
  color: #5671f6;
  background-color: #fff;
  border-left: 1px solid #d4d4d4;
}

.login {
  padding: 0 50px;
  color: #fff;
  background-color: #5671f6;
}

.mobile-buttons {
  display: none;
}

.search-button,
.m-menu-button {
  /* width: 20px;
  height: 20px; */
  padding: 5px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.menu-line {
  display: block;
  width: 16px;
  height: 2px;
  margin: 3px 0;
  flex-basis: 16px;
  background-color: #000;
  border-radius: 40px;
}

.container {
  max-width: 1130px;
  margin: auto;
}

.film {
  padding: 80px 0;
  border-bottom: 1px solid #d4d4d4;
}

.film-wrapper {
  display: flex;
}

.film-trailer {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.poster {
  width: 358px;
  border-radius: 5px 5px 0px 0px;
}

.trailer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

/* .trailer-button-icon,
.trailer-button-text {
    vertical-align: middle; 
} */

.trailer-button-icon {
  margin-right: 14px;
}

.film-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
}

.film-subtitle {
  display: block;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
}

.film-description {
  max-width: 514px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.about-film {
  display: flex;
  margin-bottom: 50px;
}

.left-side {
  margin-right: 40px;
}

.about-text {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 19px;
}

.about-text-attribute {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  font-weight: bold;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-counter {
  width: 100px;
  height: 100px;
  margin-right: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #5671f6;
  border-radius: 10px;
}

.rating-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 12px;
}

.rating-text {
  display: block;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 19px;
}

.rating-text-value {
  font-weight: bold;
}

.cast {
  padding-top: 70px;
  padding-bottom: 100px;
}

.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.section-title {
  margin-right: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #a5a5a5;
}

.section-title.active {
  font-weight: 900;
  color: #363636;
}

.tab {
  cursor: pointer;
}

.tabs-content {
  display: none;
  align-items: center;
  flex-wrap: wrap;
  visibility: hidden;
}

.tabs-content.visible {
  display: flex;
  visibility: visible;
}

.card {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  flex-basis: 25%;
}

.card-image {
  margin-right: 20px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.card-text .name,
.card-text .en-name {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.card-text .name {
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: bold;
  color: #5671f6;
}

.card-text .en-name {
  font-weight: normal;
  color: #a5a5a5;
}

.news {
  padding-top: 70px;
  padding-bottom: 100px;
  background: #f3f3f3;
  color: #000;
}

.section-news-title {
  margin-bottom: 65px;
  font-weight: 900;
  color: #000;
}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-card {
  padding: 30px;
  flex-basis: 23%;
  background-color: #fff;
  border-radius: 5px;
}

.news-date {
  font-size: 14px;
  line-height: 16px;
}

.news-title {
  margin-top: 14px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
}

.button-next {
  display: none;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header {
    height: 90px;
    padding-left: 20px;
  }
  .header-logo::after {
    margin-left: 20px;
  }
  .search-input {
    margin-left: 20px;
  }
  .navigation {
    margin-right: 20px;
  }
  .navigation-link {
    margin-right: 10px;
    font-size: 14px;
  }
  .header .button.sign-up {
    padding: 0 20px;
  }
  .container {
    max-width: 960px;
  }
  .card-image {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 991px) {
  /* .header {
    padding-left: 20px;
  }
  .header-logo::after {
    margin-left: 20px;
  } */
  .search-input {
    margin-right: auto;
  }
  .navigation {
    display: none;
  }
  .container {
    max-width: 760px;
  }
  .film-title {
    font-size: 24px;
    line-height: 1.4;
  }
  .film-subtitle {
    margin-bottom: 20px;
  }
  .film-description,
  .about-film {
    margin-bottom: 30px;
  }
  .about-text-attribute {
    display: block;
    margin-bottom: 10px;
  }
  .card {
    flex-basis: 50%;
  }
  .card-image {
    width: 100px;
    height: 100px;
  }
  .news-card {
    margin-bottom: 20px;
    flex-basis: 48%;
  }
}

@media (max-width: 768px) {
  .header {
    height: 80px;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .header-logo::after {
    display: none;
  }
  .m-menu {
    height: calc(100% - 68px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    top: 70px;
    right: 0;
    bottom: 0;
    background: #5671f6;
  }
  .m-menu.active {
    display: flex;
  }
  .search-input {
    margin: 0;
    width: 260px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-image: none;
  }
  .navigation {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navigation-link {
    margin-bottom: 18px;
    margin-right: 0;
    color: #fff;
  }
  .navigation-link:last-child {
    margin-bottom: 0;
  }
  .button-group {
    height: auto;
    flex-direction: column;
  }
  .mobile-buttons {
    display: block;
    margin-left: auto;
  }
  .header .button.sign-up {
    margin-bottom: 30px;
    background-color: transparent;
    color: #fff;
    border: none;
  }
  .container {
    max-width: 560px;
  }
  .film {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .film-wrapper {
    flex-wrap: wrap;
  }
  .film-text {
    margin-bottom: 30px;
    order: -1;
  }
  .cast,
  .news {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .news-card {
    max-width: 90%;
  }
  .button-next {
    display: block;
  }
}

@media (max-width: 576px) {
  .container {
    width: 95%;
  }
  .film-trailer,
  .poster {
    width: 100%;
  }
  .film-trailer {
    margin-bottom: 30px;
  }
  .film-text {
    margin-bottom: 0;
    order: 1;
  }
  .film-title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
  }
  .film-subtitle {
    margin-bottom: 26px;
    font-size: 14px;
    line-height: 16px;
  }
  .film-description {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 150%;
  }
  .about-film {
    margin-bottom: 40px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .about-text-attribute {
    display: inline-block;
  }
  .tabs {
    margin-bottom: 35px;
  }
  .cast {
    margin-bottom: 50px;
  }
  .card {
    margin-bottom: 20px;
    flex-basis: 100%;
  }
  .card-image {
    width: 60px;
    height: 60px;
  }
  .news-card {
    flex-basis: 100%;
  }
}
